!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Be a Leader"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    %header
      %nav.top-bar{:'data-topbar' => true}
        %ul.title-area
          %li
            %h1 Be a Leader
          %li
            %ul
              %li
                %h1
                  %a{href: '', class: 'button pledge radius round'} Take the Pledge
              %li
                %ul
                  %li
                    %h1.indent End Domestic Violence
        / %section.top-bar-section
        /   %ul.right
        /     %li.active Login

    .row
      = yield

    %footer
      © 2014 Lead and Pledge


    = typekit_include_tag 'zdl6skz'
    = javascript_include_tag "application"
    = javascript_include_tag 'foundation'
    :javascript
      $(document).foundation();
